
{%extends 'main/base.html'%}


{%block title%}
trajets{%endblock%}
{%block content%}
<h2> Trajets disponibles </h2>
{%for i in g%}
        <div class="img1">
            <a href="nouvelle_reservation">
                <img src="static/{{i.name}}.jpg" height=300px width=400px alt="Réservez votre prochain voyage" >
            
                <div class="bottom-left">Gare {{i.name}}</div>
            </a>
        </div>
        
            
    
        {%for j in i.gare_depart.all%}
            {%csrf_token%}
            {%if j in t%}
                <li>{{j}}</li>
                
            {%endif%}
            <p> </p>
            <p> </p>
            
        {%endfor%}
{%endfor%}
{%endblock%}
