{% extends "reservations/reservations.html" %}

{%block title %}
Réservation
{%endblock%}
{%block content%}
<u1>
    
    {%csrf_token%}
    <li> Réservation numéro {{rs.num_reservation}}</li>
    <p>  </p>
    <p> Date de réservation:  {{rs.date_reservation}}</p>
    <p> Trajet:  {{rs.trajet}}</p>
    <p> Numéro de place:  {{rs.num_place}}</p>
    <p> Passager:  {{rs.passager}}</p>

    <a  href="/edit_reservation/{{rs.id}}">
    <button type="redirect" class="btn btn-success"> Modifier </button>
    </a>
</u1>   
{%endblock%}